.cookies-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  background: var(--white-0);
  color: var(--gray-black-950);
  position: fixed;
  bottom: 50px;

  @media screen and (min-width: 1160px) {
    height: 400px;
    position: static;
  }
}

.cookies-modal-close-button {
  color: inherit;
  font-size: 30px;
  background: transparent;
  border: none;
  position: absolute;
  top: 5px;
  right: 5px;
}

.cookies-modal-actions {
  display: flex;
  gap: 30px;
}

.cookies-modal-button {
  color: inherit;
  border: 2px solid var(--gray-black-950);
  border-radius: 36px;
  background: transparent;
  padding: 8px 16px;

  @media screen and (min-width: 1160px) {
    padding: 16px 47px;
  }
}

.cookies-modal-light {
  background: var(--gray-black-950);
  color: var(--white-0);
}

.cookies-modal-button-light {
  border-color: var(--white-0);
}
