.selections-player-navigation-wrapper {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  column-gap: 40px;
  padding: 8px 30px;
  border-radius: 36px;
  background: var(--gray-black-900, linear-gradient(171deg, rgba(255, 255, 255, 0.1) 0.88%, rgba(255, 255, 255, 0) 99.96%));

  @media screen and (min-width: 1440px) {
    display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
}

.selections-player-navigation-wrapper-light {
  background: var(--gray-black-25);
  color: var(--gray-black-400);
}

/* buttons styles */

/* primary buttons */
.selections-player-primary-buttons-group {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.selections-player-previous-button,
.selections-player-play-pause-button,
.selections-player-next-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 36px;
  background: var(--gray-black-900, linear-gradient(171deg, rgba(255, 255, 255, 0.1) 0.88%, rgba(255, 255, 255, 0) 99.96%));
}

.selections-player-previous-button svg,
.selections-player-play-pause-button svg,
.selections-player-next-button svg {
  width: 30px;
  height: 30px;
  fill: white;
}

.selections-player-play-pause-button svg {
  width: 40px;
  height: 40px;
  border-radius: 72px;
}

.selections-player-previous-button:active svg,
.selections-player-play-pause-button:active svg,
.selections-player-next-button:active svg {
  fill: var(--red-700);
}

.selections-player-previous-button-light,
.selections-player-play-pause-button-light,
.selections-player-next-button-light {
  background: var(--gray-black-25);
}

.selections-player-previous-button-light svg,
.selections-player-play-pause-button-light svg,
.selections-player-next-button-light svg {
  fill: var(--gray-black-400);
}

/* secondary buttons */
.selections-player-secondary-buttons-left,
.selections-player-secondary-buttons-right {
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 40px;

  @media screen and (min-width: 1440px) {
    gap: 54px;
  }
}

.selections-player-secondary-buttons-left {
  grid-column: 1 / 2;
  justify-self: end;

  @media screen and (min-width: 1440px) {
    margin: 0 16px 0 auto;
  }
}

.selections-player-secondary-buttons-right {
  grid-column: 2 / 3;
  justify-self: start;

  @media screen and (min-width: 1440px) {
    margin: 0 auto 0 16px;
  }
}

.selections-player-share-button,
.selections-player-shuffle-button,
.selections-player-refresh-button,
.selections-player-volume-button {
  grid-row: 2 / 4;
  display: block;
  background: transparent;
  border: none;
  color: inherit;
  position: relative;
}

.selections-player-share-button svg,
.selections-player-shuffle-button svg,
.selections-player-refresh-button svg,
.selections-player-volume-button svg {
  width: 22px;
  height: 22px;
}

@media screen and (min-width: 1440px) {
  .selections-player-share-button:hover,
  .selections-player-shuffle-button:hover,
  .selections-player-refresh-button:hover {
    color: var(--red-700);
  }
}
/* activated buttons */
.selections-player-button-active {
  color: var(--red-700);
}

/* popup effects on hover */
@media screen and (min-width: 1440px) {
  .selections-player-share-button:hover:after,
  .selections-player-shuffle-button:hover:after,
  .selections-player-refresh-button:hover:after {
    display: block;
  }
}

.selections-player-share-button:after,
.selections-player-shuffle-button:after,
.selections-player-refresh-button:after {
  display: none;
  background: var(--gray-black-800);
  color: var(--white-0);
  padding: 4px 8px;
  border-radius: 10px;
  position: absolute;
  bottom: 110%;
  right: 0px;
  z-index: 10;
}

.selections-player-share-button:after {
  content: "Поділитись";
}

.selections-player-share-button-en:after {
  content: "Share";
}

.selections-player-share-clicked::after {
  content: "Посилання скопійовано";
  text-wrap: nowrap;
  right: -300%;
}

.selections-player-share-clicked-en::after {
  content: "The link has been copied";
  text-wrap: nowrap;
  right: -300%;
}

.selections-player-shuffle-button:after {
  content: "Перемішати";
}

.selections-player-shuffle-button-en:after {
  content: "Shuffle";
}

.selections-player-refresh-button:after {
  content: "Слухати по колу";
  text-wrap: nowrap;
}

.selections-player-refresh-button-en:after {
  content: "Loop playlist";
  text-wrap: nowrap;
}

.selections-player-share-button-light:after,
.selections-player-shuffle-button-light:after,
.selections-player-refresh-button-light:after {
  background: var(--gray-black-100);
  color: var(--red-700);
}

.selections-player-share-popup {
  background: var(--gray-black-800);
  color: var(--white-0);
  padding: 4px 8px;
  border-radius: 10px;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.selections-player-share-popup-light {
  background: var(--gray-black-100);
  color: var(--red-700);
}

/* volume control styles */
.selections-player-volume-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: 10px;
}

#selectionsVolumeInputId {
  display: none;

  @media screen and (min-width: 1440px) {
    display: block;
    background: transparent;
    cursor: pointer;
    width: 50px;
    height: 3px;
    border-radius: 20px;
    background: var(--white-0);
    accent-color: var(--gray-black-800);
  }
}
