.about-as-info_wrapper {
    border: 1px solid red;
    display: grid;
    grid-column: 1/13;
    color: var(--gray0);
    gap: 0px;
}

.about-as-info_title {
    display: grid;
    grid-column: 1/5;
    justify-content: start;
    margin-bottom: 48px; 
}

.about-as-info_title-small {
    padding-bottom: 16px;
}

/* .about-as-info_text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
} */

.about-as-info_target,
.about-as-info_support {
    display: grid;
    grid-column: 1/13;
    justify-content: space-between;
}

.about-as-info_target {
    grid-template-columns: 429px 520px;
}

.about-as-info_support {
    grid-template-columns: 520px 429px;
}

.about-as-info_img-container {
    width: 429px;
    height: 420px;
    border-radius: 10px;
    border: 1px solid blue; 
}

.another-hight {
    height: 476px;
}

.about-as-info_target img,
.about-as-info_support img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.about-as-info_target-info,
.about-as-info_support-info {
    text-align: start;
    border: 2px solid red;
}

.about-as-info_target-info p:nth-child(2) {
    margin-bottom: 16px;
}

.about-as-info_support-info p:nth-child(3),
.about-as-info_support-info p:nth-child(5) {
    margin: 16px 0px;
}

.about-as-info_ornament {
    display: grid;
    grid-column: 1/13;
    justify-content: center;
    margin: 80px 0px;
}

.about-as-info_donat-imgs {
    display: flex;
    justify-content: start;
}

.about-as-info_bmc {
    width: 174px;
    height: 56px;
    border: 1px solid green;
}

.buy-me-a-caffee_dark {
    background: url("../../img/aboutUs/bmc-white-black.png");
    width: inherit;
    height: inherit;
    
    /* display: flex;
    justify-content: center;
    align-content: center; */
    /* object-fit: cover; */
    overflow: hidden;
    background-repeat: no-repeat;
    /* background-size: contain; */
}

.buy-me-a-caffee_dark:hover {
    background: url("../../img/aboutUs/bmc-hover-white-black.png");
}