.wrapper {
  display: grid;
  grid-column: 1/1;
  background-image: url("../../images/frame-about.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 44px;
  grid-row-gap: 0;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    grid-column: 1/7;
  }
  @media screen and (min-width: 1440px) {
    background-position: 0 44px;
    grid-column: 1/13;
  }
}

.title {
  display: grid;
  grid-column: 1/1;
  justify-content: start;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    grid-column: 1/7;
  }
  @media screen and (min-width: 1440px) {
    grid-column: 1/13;
    margin-bottom: 48px;
  }
}

.title-small {
  padding-bottom: 16px;
}

.target-container,
.support-container {
  display: grid;
  grid-column: 1/1;
  grid-template-rows: auto auto;
  /* gap: 0; */
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    grid-column: 1/7;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 32px;
    grid-row-gap: 0;
  }
  @media screen and (min-width: 1440px) {
    display: grid;
    grid-column: 1/13;
    justify-content: space-between;
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}

.support-container {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    grid-template-rows: auto auto;
  }
  @media screen and (min-width: 1440px) {
  grid-template-rows: auto auto;
  grid-row-gap: 0;
}
}

.img-container {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/1;
  justify-self: center;
  align-self: center;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1440px) {
    grid-row: 1/1;
    margin-bottom: 0px;
  }
}

.target-container img,
.support-container img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.target-img {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    grid-column: 1/4;
  }
  @media screen and (min-width: 1440px) {
    grid-column: 1/6;
  }
}

.support-img {
  
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    grid-column: 4/7;
  grid-row: 1/2;
  }
  @media screen and (min-width: 1440px) {
  grid-column: 8/13;
  grid-row: 1/3;
}
}

.target-info,
.support-info {
  text-align: start;
  display: grid;
  grid-row: 2/3;

  @media screen and (min-width: 1440px) {
    text-align: start;
    grid-row: 1/1;
  }
}

.target-info {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    grid-column: 4/7;
  grid-row: 1/1;
  }
  @media screen and (min-width: 1440px) {
  grid-column: 7/13;
  grid-row: 1/1;
}
}

.support-info {
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    grid-column: 1/4;
  grid-row: 1/2;
  }
  @media screen and (min-width: 1440px) {
  grid-column: 1/7;
  grid-row: 1/2;
}
}

.ornament {
  display: grid;
  grid-column: 1/1;
  justify-content: center;
  margin: 32px 0px;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    grid-column: 1/7;
    margin: 32px 0px;
  }
  @media screen and (min-width: 1440px) {
    grid-column: 1/13;
    margin: 80px 0px;
  }
}


.target-info p:nth-child(2) {
  margin-bottom: 16px;
}

.support-info p:nth-child(3) {
  margin: 16px 0px;
}

.support-info p:nth-child(5) {
  margin: 32px 0px 16px 0px;

  @media screen and (min-width: 1440px) {
    margin: 16px 0px;
  }
}

.donat_margin-right {
  margin-right: 22px;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin-right: 55px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 24px;
  }
}


.donat-imgs {
  display: flex;
  justify-content: start;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    grid-column: 1/7;
  grid-row: 2/3;
  }
  @media screen and (min-width: 1440px) {
    grid-column: 1/7;
    grid-row: 2/3;
  }
}

.donat-bmc {
  width: 174px;
  height: 56px;
}

.buy-me-a-caffee {
  background: url("../../img/aboutUs/bmc.svg");
  width: inherit;
  height: inherit;
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
}

.buy-me-a-caffee:hover {
  background: url("../../img/aboutUs/bmc-hover.svg");
}

.buy-me-a-caffee:active {
  background: url("../../img/aboutUs/bmc-active.svg");
}

.donat-patreon {
  width: 100px;
  height: 56px;
  cursor: pointer;
}

.patreon_dark:hover rect,
.patreon_light:hover rect {
  fill: #ff424e;
  stroke: #ff424e;
  stroke-width: 6px;
}

.patreon_dark:hover path,
.patreon_light:hover path {
  fill: var(--white-0);
}

.patreon_dark:active rect {
  fill: #141518;
  stroke-width: 0px;
}

.patreon_dark:active path {
  fill: var(--white-0);
}

.patreon_light rect {
  fill: #141518;
}

.patreon_light path {
  fill: var(--white-0);
}

.patreon_light:active rect {
  fill: var(--white-0);
}

.patreon_light:active path {
  fill: #141518;
}

.about-us {
  grid-column: 1/13;
  background-image: url("../../images/frame-hero-a.png");
  background-repeat: no-repeat;
  background-position: center;
}