.heroWrapper {
  grid-column: 1/13;
  justify-content: center;
  text-align: center;

  background-image: url("../../images/frame-hero-a.png");
  background-repeat: no-repeat;
  background-position: center;
}

.kolyskovaWrap {
  display: grid;
  grid-column: 1/13;
  justify-content: center;
  margin-top: 26px;

  @media screen and (min-width: 1440px) {
    padding-top: 81px;
  }
}

.fill-for-dark {
  fill: var(--white-0);
}

.fill-for-light {
  fill: var(--grey-black-950);
}

.ornamentWrap {
  grid-column: 1/13;
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 48px;
  margin-top: 48px;
  padding: 0 60px;
}

.hero-btn {
  display: grid;
  grid-column: 1/13;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: 75px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.listen-button {
  border: 2px solid var(--red-700);
  color: var(--red-700);
}

.shareIcon {
  margin-left: 8px;
}
