.song {
  display: flex;
  flex-direction: column;
  gap: 24px;
  transition: .3s ease-in-out;
}

.songName {
color: var(--gray-0, #fafafa);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px;
text-align: start;
}

.songBackground {
cursor: pointer;
}
