/* button style */
.achievements-donats-qr-button {
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* general */
.qr-button-modal {
  width: 340px;
  padding: 48px 0;
  border-radius: 48px;
  background: var(--gray-black-950);
  color: var(--gray0);
  position: relative;

  @media screen and (min-width: 1440px) {
    width: 400px;
  }
}

@media screen and (min-width: 320px) and (max-width: 850px) and (orientation: landscape) {
  .qr-button-modal {
    height: 100vh;
    overflow-y: auto;
  }
}

.qr-button-modal-light {
  background: var(--white-0);
  color: var(--gray-black-950);
}

/* close button */
.qr-closeBtn {
  position: absolute;
  right: 15px;
  top: 15px;
}

/* qr image */
.qr-image {
  margin: 0 auto 32px auto;
  width: 140px;
  height: 140px;
}

/* qr info */
.qr-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.qr-info li {
  padding: 0 16px;
}

.qr-info li p:first-child {
  margin-bottom: 8px;
}

.qr-info li p:not(:first-child) {
  cursor: pointer;
}

.qr-info-copy-clicked {
  padding: 2px 4px;
  border-radius: 8px;
  background: var(--white-0);
  color: var(--gray-black-950);
}

.qr-info-copy-clicked-light {
  background: var(--gray-black-950);
  color: var(--gray0);
}

/* ornament */
.qr-button-modal-ornament {
  margin: 0 auto;
}
