.lullabies-animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    grid-column: 1;
    @media screen and (min-width: 768px) {
     
    }

    @media screen and (min-width: 1440px) {
        margin-top: 48px;
        margin-bottom: 48px;
        flex-direction: row;
        grid-column: 1/13;
    }
}

.peviev {
  width: 100px;
  height: auto;
}

.player-container{
  display: flex;
  flex-direction: column;
  grid-column: 1;

  @media screen and (min-width: 768px) {

 }
    @media screen and (min-width: 1440px) {
       grid-column: 1/9;}
 }
 .video-player-container {
  border-radius: 10px;
  overflow: hidden;  
}
.wrap-animation {
  grid-column: 9/13;
    display: flex;
  flex-direction: column;
}

.playlist-anima{
  overflow-y: auto;
  max-height: 530px;
}

.skroll-disabled {
  overflow: hidden; 
}

.video-player{
  width: 296px;

 @media screen and (min-width: 768px) {
    width: 672px;
 }
    @media screen and (min-width: 1440px) {
      width: 700px;
      height: 487px;
    }

}

.info{
  text-align: left;
  margin-top: 30px;
}

.playlist-anima{
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0 auto;
  height: 680px;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    width: 660px;
    height: 236px;
    flex-direction: row;
  }
    @media screen and (min-width: 1440px) {
     flex-direction: column;
     flex-wrap: nowrap;
     width: 300px;
     height: 487px;
     overflow-x: hidden;
    }
}

.playlist-card{
  max-width: 296px;
  width: 100%;
  height: 110px;
  display: flex;
  border-radius: 10px;
  padding: 8px;
  gap: 16px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  }

.playlist-card-light {
background: var(--gray-black-25, linear-gradient(172deg, rgba(255, 246, 246, 0.21) 5.87%, #EFEEEE 103.54%));
}

.playlist-card-dark {
background: var(--gray-black-900, linear-gradient(171deg, rgba(255, 255, 255, 0.10) 0.88%, rgba(255, 255, 255, 0.00) 99.96%));
}

.playlist-card:nth-child(odd) {
    @media screen and (min-width: 768px) {
   margin-right: 60px;
  }
  @media screen and (min-width: 1440px) {
     margin-right: 0;
    }
}

.current-card{
  border-bottom: 2px solid var(--red-700);
}

.card-img{
  width: 156px;
  height: 94px;
}

.card-title {
  margin-bottom: 28px;
}
.heart::before{
  background-image: url(../../images/heart.svg);
}
.vievs::before{
  background-image: url(../../images/Group.svg);

}

.heart::before,
.vievs::before
 {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;  
  background-repeat: no-repeat;
  vertical-align: text-top;  
  margin-right: 8px;  
}

.card-text{
text-align: left;
}

.card-info{
  color: var(--gray-black-400, #7B7B7B);
}

/* Стилізація смуги прокрутки */
 
.playlist-anima::-webkit-scrollbar {

  width: 4px;  
  height: 191.538px;  
}

/* Стилізація віджета смуги прокрутки */

.playlist-anima::-webkit-scrollbar-thumb { /* Ширина віджета смуги прокрутки */

  background-color: #FFF;  
  border-radius: 2px;  
}

/* Стилізація фону смуги прокрутки */
.playlist-anima::-webkit-scrollbar-track {

  background-color: var(--gray-black-800, #454545);  
}

/* Заборона прокручування смуги в горизонтальному напрямку */
.playlist-anima::-webkit-scrollbar-horizontal {
  display: none;
}

/* Заборона прокручування смуги в вертикальному напрямку */
.playlist-anima::-webkit-scrollbar-vertical {
  display: block;
}
