.shared-button {
  background-color: inherit;
  border: 2px solid var(--white-0);
  border-radius: 46px;
  color: var(--white-0);
  display: flex;
  width: 192px;
  height: 44px;

  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;

  @media screen and (min-width: 1440px) {
    width: 250px;
    height: 56px;
    gap: 10px;
  }
}
.shared-button:hover {
  background: var(--white-0);
  color: var(--red-700);
}

.shared-button:active {
  color: #171717;
  background-color: var(--white-0);
}

.shared-button:hover .share-icon path {
  stroke: var(--red-700);
  fill: transparent;
}

.shared-button:active .share-icon path {
  stroke: #171717;
  fill: var(--white-0);
}

.shared-button-light {
  background-color: inherit;
  border-radius: 46px;
  border: 2px solid var(--gray-black-950);
  color: var(--gray-black-950);
  display: flex;
  width: 192px;
  height: 44px;

  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  @media screen and (min-width: 1440px) {
    width: 250px;
    height: 56px;
    gap: 10px;
  }
}
.shared-button-light:hover {
  background-color: var(--gray-black-950);
  color: var(--red-700);
}

.shared-button-light:active {
  color: var(--white-0);
  background: var(--gray-black-950);
}
.shared-button-light:hover .share-icon path {
  stroke: var(--red-700);
  fill: transparent;
}
.shared-button-light:active .share-icon path {
  stroke: var(--white-0);
  fill: #171717;
}

.shared-button-light .share-icon path {
  stroke: #171717;
}
