.chat_wrapper {
  display: grid;
  grid-column: 1/2;
  grid-template-rows: auto auto auto;
  margin-bottom: 80px;
  gap: 0;
  @media screen and (min-width: 1440px) {
    grid-column: 1/13;
    grid-template-rows: auto auto;
    margin-bottom: 140px;
    grid-column-gap: 32px;
  }
}

.chat_info {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: left;
  @media screen and (min-width: 1440px) {
    grid-column: 1/8;
    grid-row: 1/2;
  }
}

.chat_button {
    display: grid;
    justify-content: center;
    grid-row: 3/4;
  @media screen and (min-width: 1440px) {
    display: grid;
    grid-column: 1/8;
    grid-row: 2/3;
    justify-content: start;
  }
}

.chat_rule_list {
  margin: 24px 0px;
  list-style-type: none;
  list-style-position: inside;
  @media screen and (min-width: 1440px) {
    margin: 36px 0px 28px 0px;
  }
}

.chat_text {
  margin: 12px 0px;
  display: block;
}

.chat_picture {
  grid-column: 1/2;
  display: grid;
  grid-row: 2/3;
  justify-self: end;
  align-self: center;
  width: 192px;
  height: 178px;
  margin-bottom: 24px;
  @media screen and (min-width: 1440px) {
    grid-column: 9/13;
    grid-row: 1/3;
    width: 323px;
    height: 300px;
  }
}

.chat_image_dark {
  cursor: default;
  background: url("../../img/motanka/motanka-black.png");
  width: inherit;
  height: inherit;
  object-fit: contain;
  background-size: contain;
}

.chat_image_dark:hover {
  background: url("../../img/motanka/motanka-black-hover.png");
  background-size: contain;
}

.chat_image_dark:active {
  background: url("../../img/motanka/motanka-black-active.png");
  background-size: contain;
}

.chat_image_white {
  background: url("../../img/motanka/motanka-white.png");
  background-size: contain;
}

.chat_image_white:hover {
  background: url("../../img/motanka/motanka-white-hover.png");
  background-size: contain;
}

.chat_image_white:active {
  background: url("../../img/motanka/motanka-white-active.png");
  background-size: contain;
}
