.header-burgerIcon {
  padding: 12px;
  background-color: transparent;
  border: none;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.responsive-covering {
  width: 100%;
  height: 100%;
  background: var(--gray-black-100);
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.responsive-covering-light {
  background: var(--gray-black-950);
}

.header-responsive-menu {
  display: flex;
  flex-direction: column;
  width: 294px;
  height: 100%;
  padding: 16px 12px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--gray-black-950);
  animation: growToRight 200ms ease-in-out forwards;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.header-responsive-menu::-webkit-scrollbar {
  width: 0.01px;
}

.header-responsive-menu-light {
  background: var(--white-0);
}

.header-responsive-theme-and-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px 0px 16px;
  margin-bottom: 24px;
}

.header-responsive-logo {
  display: flex;
  align-items: start;
  gap: 4px;
  font-size: 28px;
  line-height: 40px;
  text-align: left;
  padding: 0 10px;
}

/* responsive options */
.header-responsive-options {
  padding: 0 16px;
}

.header-responsive-options li {
  padding: 16px 0;
  text-align: left;
  /* cursor: pointer; */
}

.header-responsive-dropdown-icon,
.header-responsive-language-icon,
.header-responsive-user-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.header-responsive-about:hover,
.header-responsive-dropdown-icon:hover,
.header-responsive-language-icon:hover,
.header-responsive-user-link:hover,
.header-responsive-user-link:hover svg path {
  color: var(--red-700);
  stroke: var(--red-700);
}

/* responsive dropdown menu */
.header-responsive-dropdown-icon,
.header-responsive-language-icon {
  padding: 8px 0;
}

.header-responsive-dropdown-icon-menuOpened,
.header-responsive-language-icon-menuOpened {
  border-bottom: 2px solid var(--red-700);
  margin-bottom: -2px;
}

.header-responsive-dropdown-menu,
.header-responsive-language-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px 16px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.header-responsive-dropdown-menu a {
  padding: 12px 8px;
}

.header-responsive-dropdown-menu a:hover,
.header-responsive-language-menu button:hover {
  border-bottom: 2px solid var(--red-700);
  border-radius: 8px;
  margin-bottom: -2px;
}

/* responsive language menu */
.header-responsive-language-menu button {
  padding: 6px 4px;
  width: 200px;
  color: inherit;
  background: transparent;
  border: none;
}

/* responsive user icon */
.header-responsive-user-icon {
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}

.header-responsive-user-icon-light svg path {
  stroke: var(--gray-black-950);
}

/* responsive search */
.header-responsive-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: 70px;
  background-color: var(--gray-black-800);
}

.header-responsive-search-bar input {
  width: 100%;
  background-color: inherit;
  border: none;
  color: inherit;
}

.header-responsive-search-bar input::placeholder {
  color: inherit;
  opacity: 1; /* Firefox */
}

.header-responsive-search-bar input:focus {
  outline: none;
}

.header-responsive-search-bar-light {
  background-color: var(--gray-black-100);
}

.header-responsive-search-bar-light svg path {
  stroke: var(--gray-black-950);
}

.header-responsive-search-popup-unavailable {
  background: var(--gray-black-800);
  color: var(--white-0);
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
}

.header-responsive-search-popup-unavailable-light {
  background: var(--gray-black-100);
  color: var(--red-700);
}

/* responsive support */
.header-responsive-support {
  padding: 24px 0 24px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 50px;
}

.header-responsive-support-icons {
  display: flex;
  /* margin-left: 12px; */
}

.header-responsive-support-icons a {
  display: block;
  width: 48px;  
  padding: 12px;
}

/* responsive follow us */
.header-responsive-follow p {
  margin-bottom: 16px;
}

.header-responsive-follow-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-responsive-follow-icons a {
  display: block;
  padding: 12px;
}


/* swap social logos logic */
/* .header-responsive-follow-icons a:active .sidebar-socials-icon-normal {
  display: none;
}

.header-responsive-follow-icons a:active .sidebar-socials-icon-pressed {
  display: block;
}

.sidebar-socials-icon-pressed {
  display: none;
} */

@keyframes growToRight {
  0% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0);
  }
}
