a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.active {
  border-bottom: solid 2px var(--red-700);
  margin-bottom: -2px;
}

.header-with-search-bar-open {
  display: grid;
  grid-template: 1fr / 56px 11fr;
  gap: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 16px 7px 4px;
  border: 2px solid transparent;
  border-image: linear-gradient(to bottom, #cf121b, #cf121b00);
  border-image-slice: 1;
  width: 100%;
  height: 80px;

  @media screen and (min-width: 1160px) {
    display: grid;
    grid-column: 1 / 13;
    padding: 0 18px;
  }
}

.header-logo {
  justify-self: start;
}

/* about link */
.header-about-link {
  display: none;

  @media screen and (min-width: 1160px) {
    display: grid;
    grid-column: 2 / 4;
    padding: 22px 8px;
  }
}

/* dropdown menu */
.header-dropdown-wrapper {
  display: none;

  @media screen and (min-width: 1160px) {
    display: grid;
    grid-column: 4 / 8;
    padding: 22px 8px;
    position: relative;
    border-bottom: solid 2px transparent; /* changes on click */
    margin-bottom: -2px;
    cursor: pointer;
  }
}

.header-dropdown-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-dropdown-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  left: 0;
  top: 110%;
  background-color: var(--gray-black-800);
  border-radius: 8px;
  z-index: 3;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.header-dropdown-menu a {
  padding: 12px 8px;
  text-align: left;
  transition: none;
}

.header-dropdown-menu a:hover {
  border-bottom: 2px solid var(--red-700);
  border-radius: 8px;
  margin-bottom: -2px;
}

.header-dropdown-menu-light {
  background-color: var(--gray-black-100);
}

.header-dropdown-button-light svg path {
  stroke: var(--gray-black-950);
}

/* HEADER BUTTONS */

.header-options-wrapper {
  display: none;
  grid-column: 8 / 13;
  grid-template: 1fr / 1fr auto auto 1fr;
  align-items: center;
  gap: 16px;

  @media screen and (min-width: 1160px) {
    display: grid;
  }
}

/* language menu */
.header-languages-wrapper {
  justify-self: end;
  padding: 4px 8px;
  position: relative;
  cursor: pointer;
}

.header-languages-button {
  display: flex;
  align-items: center;
}

.header-languages-menu {
  position: absolute;
  left: 0;
  top: 100%;
  border-radius: 8px;
  background-color: var(--gray-black-800);
  z-index: 3;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.header-languages-menu button {
  display: block;
  padding: 10px 25px;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  transition: none;
}

.header-languages-menu button:hover {
  border-bottom: 2px solid var(--red-700);
  margin-bottom: -2px;
  border-radius: 8px;
}

.header-language-menu-light {
  background-color: var(--gray-black-100);
}

.header-languages-button-light svg path {
  stroke: var(--gray-black-950);
}

/* user icon */
.header-user-icon {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.header-user-icon:hover {
  border: 2px solid var(--gray0);
  border-radius: 30px;
  transition: none;
}

.header-user-icon-light svg path {
  stroke: var(--gray-black-950);
}

.header-user-icon-light:hover {
  border-color: var(--gray-black-950);
}

/* search */
.header-search-icon {
  padding: 8px 16px;
  border-radius: 50px;
  background-color: var(--gray-black-800);
  justify-self: center;
  cursor: pointer;
}

.header-search-bar {
  grid-column: 2 / 13;
  justify-content: space-between;
  padding: 8px 16px;
  border-radius: 50px;
  background-color: var(--gray-black-800);
  animation: growToLeft 400ms ease-in-out forwards;
  transform-origin: right;
}

.header-search-bar input {
  width: 100%;
  background-color: inherit;
  border: none;
  color: inherit;
}

.header-search-bar input:focus {
  outline: none;
}

.header-search-icon-light {
  background-color: var(--gray-black-100);
}

.header-search-icon-light svg path {
  stroke: var(--gray-black-950);
}

.header-search-bar-light {
  background-color: var(--gray-black-100);
}

.header-search-bar-light svg path {
  stroke: var(--gray-black-950);
}

/* theme toggle */
.header-theme-toggle {
  justify-self: center;
  width: 102px; /* solely for mobile */
  display: flex;
  gap: 33px;
  align-items: center;
  padding: 7px 5px 7px 8px;
  border-radius: 200px;
  background-color: var(--gray-black-800);
  position: relative;
  cursor: pointer;
}

#themeToggleCirlce {
  position: absolute;
}

.header-theme-toggle-light {
  background-color: var(--gray-black-100);
}

.header-theme-toggle-circle-icon-light svg path {
  fill: var(--gray-black-950);
}

/* RESPONSIVE HEADER */
.header-burgerIcon {
  padding: 0;
  background-color: transparent;
  border: none;

  @media screen and (min-width: 1160px) {
    display: none;
  }
}

.responsive-covering {
  width: 100%;
  height: 100%;
  background: var(--gray-black-100);
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  @media screen and (min-width: 1160px) {
    display: none;
  }
}

.responsive-covering-light {
  background: var(--gray-black-950);
}

.header-responsive-menu {
  display: flex;
  flex-direction: column;
  width: 294px;
  height: 200vh;
  padding: 16px 12px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: var(--gray-black-950);

  @media screen and (min-width: 1160px) {
    display: none;
  }
}

.header-responsive-menu-light {
  background: var(--white-0);
}

.header-responsive-theme-and-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 24px;
}

.header-responsive-logo {
  display: flex;
  align-items: start;
  gap: 4px;
  font-size: 28px;
  line-height: 40px;
  text-align: left;
}

/* responsive options */
.header-responsive-options {
  padding: 0 16px;
}

.header-responsive-options li {
  padding: 16px 0;
  text-align: left;
  /* cursor: pointer; */
}

.header-responsive-dropdown-icon,
.header-responsive-language-icon,
.header-responsive-user-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.header-responsive-about:hover,
.header-responsive-dropdown-icon:hover,
.header-responsive-language-icon:hover,
.header-responsive-user-link:hover,
.header-responsive-user-link:hover svg path {
  color: var(--red-700);
  stroke: var(--red-700);
}

/* responsive dropdown menu */
.header-responsive-dropdown-icon,
.header-responsive-language-icon {
  padding: 8px 0;
}

.header-responsive-dropdown-icon-menuOpened,
.header-responsive-language-icon-menuOpened {
  border-bottom: 2px solid var(--red-700);
  margin-bottom: -2px;
}

.header-responsive-dropdown-menu,
.header-responsive-language-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px 16px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.header-responsive-dropdown-menu a {
  padding: 12px 8px;
}

.header-responsive-dropdown-menu a:hover,
.header-responsive-language-menu button:hover {
  border-bottom: 2px solid var(--red-700);
  border-radius: 8px;
  margin-bottom: -2px;
}

/* responsive language menu */
.header-responsive-language-menu button {
  padding: 6px 4px;
  width: 200px;
  color: inherit;
  background: transparent;
  border: none;
}

/* responsive user icon */
.header-responsive-user-icon {
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}

.header-responsive-user-icon-light svg path {
  stroke: var(--gray-black-950);
}

/* responsive search */
.header-responsive-search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: 70px;
  background-color: var(--gray-black-800);
}

.header-responsive-search-bar input {
  width: 100%;
  background-color: inherit;
  border: none;
  color: inherit;
}

.header-responsive-search-bar input:focus {
  outline: none;
}

.header-responsive-search-bar-light {
  background-color: var(--gray-black-100);
}

.header-responsive-search-bar-light svg path {
  stroke: var(--gray-black-950);
}

/* responsive support */
.header-responsive-support {
  padding: 24px 16px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2px;
  text-align: left;
  margin-bottom: 50px;
}

.header-responsive-support-icons {
  display: flex;
  gap: 4px;
}

.header-responsive-support-icons a {
  width: 30px;
}

/* responsive follow us */
.header-responsive-follow p {
  margin-bottom: 28px;
}

.header-responsive-follow-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

/* ---------------- */
/* SPECIAL STYLES */
.header-about-link:hover,
.header-dropdown-button:hover,
.header-dropdown-button:hover svg path,
.header-languages-button:hover,
.header-languages-button:hover svg path {
  color: var(--red-700);
  stroke: var(--red-700);
}

.header-search-bar-open {
  display: flex;
  grid-column: 2 / 3;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes growToLeft {
  0% {
    transform: scaleX(0);
  }
  80% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}
