.map-playlist_container{
  background-image: url('../../images/map-playlist.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  height: 209px;
   width: 320px;
  @media screen and (min-width: 768px) {
     width: 688px;

    height: 461px;
  }
    @media screen and (min-width: 1440px) {
        width: 611px;
  height: 404px;
    }
}


 .playlist-wrap{
  margin-right: 55px;
 }

.playlist{
display: flex;
flex-direction: column;
text-align: left;
  margin-top: 15px;
gap: 24px;
@media screen and (min-width: 768px) {

  }
    @media screen and (min-width: 1440px) {
      flex-direction: row;
      margin-top: 62px;
    }
}

.alert{
  width: 80%;
  margin-left: 50px;
}

.alert::before{
  content: "";
  background-image: url("../../images/alert-circle.png");
  display: flex;
  position: relative;
  width: 24px;
  height: 24px;
  top: 30px;
  right: 50px;
}