.achievements-patreon_dark:hover rect,
.achievements-patreon_light:hover rect {
  fill: #ff424e;
  stroke: #ff424e;
  stroke-width: 6px;
}

.achievements-patreon_dark:hover path,
.achievements-patreon_light:hover path {
  fill: var(--white-0);
}

.achievements-patreon_dark:active rect {
    fill: #141518;
    stroke-width: 0px;
  }
  
  .achievements-patreon_dark:active path {
    fill: var(--white-0);
  }
  
  .achievements-patreon_light rect {
    fill: #141518;
  }
  
  .achievements-patreon_light path {
    fill: var(--white-0);
  }
  
  .achievements-patreon_light:active rect {
    fill: var(--white-0);
  }
  
  .achievements-patreon_light:active path {
    fill: #141518;
  }