.achievements-patreon_dark:hover rect,
.achievements-patreon_light:hover rect {
  @media screen and (min-width: 1024px) {
    fill: #ff424e;
    /* stroke: #ff424e;
  stroke-width: 3px; */
  }
}

.achievements-patreon_dark:hover,
.achievements-patreon_light:hover {
  @media screen and (min-width: 1024px) {
    transform: scale(1.12);
  }
}

.achievements-patreon_dark:active,
.achievements-patreon_light:active {
  @media screen and (min-width: 1024px) {
    transform: scale(1);
  }
}
.achievements-patreon_dark:hover path,
.achievements-patreon_light:hover path {
  @media screen and (min-width: 1024px) {
    fill: var(--white-0);
  }
}

.achievements-patreon_dark:active rect {
  @media screen and (min-width: 1024px) {
    fill: #141518;
    stroke-width: 0px;
  }
}

.achievements-patreon_dark:active path {
  @media screen and (min-width: 1024px) {
    fill: var(--white-0);
  }
}

.achievements-patreon_light rect {
  fill: #141518;
}

.achievements-patreon_light path {
  fill: var(--white-0);
}

.achievements-patreon_light:active rect {
  @media screen and (min-width: 1024px) {
    fill: var(--white-0);
  }
}

.achievements-patreon_light:active path {
  @media screen and (min-width: 1024px) {
    fill: #141518;
  }
}
