.ourAchivements {
  grid-column: 1/2;
  grid-row-gap: 0;

  @media screen and (min-width: 1440px) {
    grid-column: 1/13;
    text-align: start;
  }
}

.achievements-title {
  display: grid;
  grid-column: 1/2;
  justify-content: start;
  margin-bottom: 24px;

  @media screen and (min-width: 1440px) {
    grid-column: 1/13;
    margin-bottom: 48px;
  }
}

.achivement-text{
 text-transform: capitalize;
}

.achivements {
  display: grid;
  grid-column: 1/2;
  justify-content: space-around;
  align-items: center;
  border: 2px solid var(--red-700);
  border-radius: 56px;
  grid-template-columns: repeat(3, auto);
  padding: 32px 21.5px;
  margin-bottom: 32px;

  @media screen and (min-width: 1440px) {
    grid-column: 1/13;
    padding: 48px;
    margin-bottom: 80px;
  }
}

.achivement {
  display: grid;
  justify-content: start;
}