.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  background: var(--gray-black-100);
  color: var(--gray-black-950);
  z-index: 999;
}
.popup-message {
  min-width: 849px;
  min-height: 268px;

  display: flex;
  gap: 32px;

  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 36px;

  padding: 106px 21px;
  z-index: 10;
  background: var(--gray-black-950);
  color: var(--gray0);

  text-align: center;
  align-items: center;
}

.overlay-light {
  background: var(--gray-black-100);
}

.popup-message-white {
  color: var(--gray-black-950);
  background-color: var(--white-0);
}

.pop-up-text-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 375px;
}

.popup-message-entering,
.popup-message-exiting,
.popup-message-exited {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.popup-message-entered {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
