.popup-message {
  display: flex;
  gap: 32px;

  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 36px;

  padding: 106px 21px;
  z-index: 999;

  text-align: center;
  align-items: flex-end;
}
.popup-message-dark {
  background-color: var(--gray-black-950);
}
.popup-message-white {
  background-color: var(--white-0);
}

.pop-up-text-form {
  width: 375px;
}

.popup-message-entering,
.popup-message-exiting,
.popup-message-exited {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.popup-message-entered {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
