.popup-message {
  display: flex;
  gap: 32px;
  background-color: inherit;
  position: fixed;
  top: 90%;
  left: 51%;
  transform: translate(-50%, -50%);
  border-radius: 36px;

  width: 849px;
  height: 268px;
  padding: 106px 0px;
  z-index: 999;

  text-align: center;
}

.pop-up-text-form {
  width: 375px;
}

.popup-message-entering,
.popup-message-exiting,
.popup-message-exited {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.popup-message-entered {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
