.errorPage{
  display: grid;
  grid-column: 1/1;
  background-image: url("../../images/frame-about.png");
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
  text-align: center;

  @media screen and (min-width:475px) {
    background-size: contain;
  }

  @media screen and (min-width:892px) {
    background-size: cover;
  }

  @media screen and (min-width:1440px) {
    text-align: center;
    grid-column: 1/13;
    background-size: contain;
  }
}

.errorPage__title{
  grid-column: 1/1;
  text-align: center;

 @media screen and (min-width: 768px) {
  grid-column:1/13;
  margin-bottom: 20px;
}
}

.errorPage__svg404 {
   display: flex; 
   justify-content: center;
  align-items: center;
   grid-column: 1/1;
   @media screen and (min-width: 768px) {
    grid-column: 4/10;
  }
}

.errorPage__numbers{
  width: 77px;
  height: 80px;
   @media screen and (min-width: 768px) {
  width: 153px;
  height: 182px;
        
  margin: 83px 12px;}
}


.errorPage__block{
  grid-column: 1/1;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1440px) {
  grid-column: 1/13;

  padding: 0 60px;}
}

.element-right-error{
  display: none;
  grid-column: 1/1;
  @media screen and (min-width: 1440px) {
    display: block;
  grid-column:1/4;}
}

.element-left-error{
  display: none;
  grid-column: 1/1;

  @media screen and (min-width: 1440px) {
    display: block;
  grid-column: 10/13;}
  
}

.element-center-error{
  grid-column: 1/1;
  text-align: center;
   @media screen and (min-width: 1440px) {
  grid-column: 4/10;
}
}

.errorPage-button {
  grid-column: 5/9;
  margin: 57px 47px 0;
}

.fill-for-dark{
  fill: var(--white-0);
}

.fill-for-light{
  fill: var(--grey-black-950);
}