.errorPage{
  padding: 48px;
  grid-column: 1/13;
 
  background-image: url("../../images/frame-hero-a.png");
  background-repeat: no-repeat;
  background-position: center;
}

.errorPage__title{
  grid-column:5/10;
  margin-top: 88px;
  width: 308px;
  margin: 88px 10px 0;
}

.errorPage__svg404 {
  display: flex;
  grid-column: 4/10;
}

.errorPage__numbers{
  margin: 12px;
}

.errorPage__block{
  grid-column: 1/13;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
}

.element-right{
  grid-column:1/4;
  
}

.element-left{
  grid-column: 10/13;
  
}

.element-center{
  text-align: center;
  grid-column: 4/10;
}

.errorPage-button {
  grid-column: 5/9;
  margin: 57px 47px 0;
}

.fill-for-dark{
  fill: var(--white-0);
}

.fill-for-light{
  fill: var(--grey-black-950);
}