.sing-together {
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  @media screen and (min-width: 1440px) {
    padding-top: 48px;
    padding-bottom: 48px;
    height: 600px;
  }
}