.bg-dark {
  background: var(--gray-black-950);
  color: var(--gray0);
}

.body {
  position: relative;
  transition: 200ms ease;
}

.bg-img-left,
.bg-img-right {
  background-repeat: repeat-y;

  min-width: 140px;
  width: 100%;
  max-width: 320px;
  height: 100%;

  position: absolute;
  top: 0;
  content: "";
}

.bg-image-dark {
  background-image: url("../images/ornamentsDark.png");
}

.bg-image-light {
  background-image: url("../images/ornamentsLight.png");
}

.bg-img-left {
  left: 0;
  transform: scaleX(1);
}

.bg-img-right {
  right: 0;
  transform: scaleX(-1);
}


/* Background Light Styles */
.bg-light {
  background: var(--white-0);
  color: var(--gray-black-950);
}

.background-light::after {
  content: '';
  background-image: url("src/assets/images/ornamentsLight.png");
  display: block;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 140px;
}

.background-light::before {
  content: '';
  background-image: url("src/assets/images/ornamentsLight.png");
  display: block;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 140px;
  transform: scaleX(-1);
}

.content {
  width: 1160px;
  margin: 0 auto;
  padding: 26px 48px;
  z-index: 12;
  position: relative;
  margin: 0 auto;
}

.button {
  border-radius: 46px;
  border: 2px solid var(--red-700);
  display: flex;
  width: 250px;
  height: 56px;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.button-dark:hover {
  background: var(--red-700);
  color: var(--grey-black-950);
}

.button-dark:active {
  border: 2px solid var(--red-900);
  background: var(--red-900);
}

.button-light {
  border-radius: 46px;
  border: 2px solid var(--red-700);
  display: flex;
  width: 250px;
  height: 56px;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.button:hover {
  background: var(--red-700);
  color: var(--grey-black-950);
}

.button:active {
  border: 2px solid var(--red-900);
  background: var(--red-900);
}

.margin-bottom {
  margin-bottom: 80px;
}