/* Background Dark Styles */
.background-dark {
  background: var(--gray-black-950);
  min-height: 100vh;
}

.background-dark::after {
  content: '';
  background-image: url("src/assets/images/ornamentsDark.png");
  background-repeat: no-repeat;
  display: block;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100vh;
  width: 140px;
}

.background-dark::before {
  content: '';
  background-image: url("src/assets/images/ornamentsDark.png");
  background-repeat: no-repeat;
  display: block;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100vh;
  width: 140px;
  transform: scaleX(-1);
}

/* Background Light Styles */
.background-light {
  background: var(--white-0);
  height: 100vh;
  min-height: 100vh;
}

.background-light::after {
  content: '';
  background-image: url("src/assets/images/ornamentsLight.png");
  display: block;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 140px;
}

.background-light::before {
  content: '';
  background-image: url("src/assets/images/ornamentsLight.png");
  display: block;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 140px;
  transform: scaleX(-1);
}


.content {
  width: 1160px;
  padding: 0 48px;
}