/* Background Dark Styles */

.bg-dark {
  background-color: var(--gray-black-950);
  height: 100%;
}

.bg-left{
  background-repeat: repeat-y;
  display: block;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 140px;
  width: 100%;
  z-index: 1;
}
.bg-right {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
   min-width: 140px;
  width: 100%;
  z-index: 1;
  transform: scaleX(-1);
}

/* Background Light Styles */
.background-light {
  background: var(--white-0);
  height: 100vh;
  height: 100%;
}

.content {
  width: 1160px;
  margin: 0 auto;
  z-index: 12;
  position: relative;
 margin: 0 auto;
}

