.button-hero {
  width: 250px;
  height: 56px;
  padding: 16px 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 46px;
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  cursor: pointer;
}
.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Модифікатор для кнопки "Слухати" */
.button__listen {
  background-color: var(--gray-black-950);
  color: var(--red-700);
  border: 2px solid var(--red-700);
}

.button__listen:hover,
.button__listen:focus {
  color: var(--gray-black-950);
  background-color: var(--red-700);
}

.button__listen:active {
  color: var(--white-0);
  border: 2px solid var(--red-900);
  background-color: var(--red-900);
}

.button__listen[disabled] {
  border-color: #454545;
  color: #454545;
  background-color: transparent;
}

.button__listen[disabled]:hover {
  border-color: #454545;
  color: #454545;
  background-color: transparent;
}

/* Модифікатор для кнопки "Поділитися" */
.button__share {
  background-color: var(--gray-black-950);
  color: var(--white-0);
  border: 2px solid var(--white-0);
}

.button__share:hover,
.button__share:focus {
  color: var(--red-700);
  background-color: var(--white-0);
}

.button__share:active {
  color: #171717;
}

.button--share[disabled] {
  border: 2px solid #454545;
  color: #3d3d3d;
}
